html, body{
    height: 100%;
}
body{
    background-color: rgb(4, 90, 90);
    background-size: cover;
}
.card{
    background: rgba(213, 233, 238, 0.35);
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
}
.card-body{
    padding: 3px;
}